<div class="form-field">
    <label for="address-name">Name:</label>
    <InputText type="text" name="address-name" id="address-name" @bind-Value="Address.Name" />
</div>
<div class="form-field">
    <label for="address-line-1">Line 1:</label>
    <InputText type="text" name="address-line-1" id="address-line-1" @bind-Value="Address.Line1" />
</div>
<div class="form-field">
    <label for="address-line-2">Line 2:</label>
    <InputText type="text" name="address-line-2" id="address-line-2" @bind-Value="Address.Line2" />
</div>
<div class="form-field">
    <label for="region">Region:</label>
    <InputText type="text" name="region" id="region" @bind-Value="Address.Region" />
</div>
<div class="form-field">
    <label for="postal">Postal Code:</label>
    <InputText type="text" name="postal" id="postal" @bind-Value="Address.PostalCode" />
</div>

@code {
    [Parameter]
    public Address Address { get; set; }
}
